<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="3px">
    <th colspan="2">topic_name</th>
        {% for to in qswo %}
        <tr><td>{{to.topic_name}}</td></tr>
        {% endfor %}
       <th colspan="2">name</th>
        {% for no in qswo %}
        <tr><td>{{no.name}}</td></tr>
        {% endfor %}
       <th colspan="2">url</th>
        {% for uo in qswo %}
        <tr><td>{{uo.url}}</td></tr>
        {% endfor %}


    </table>
</body>
</html>